@import "../../styles/themify.scss";

.loginPage {
	&__name {
		width: 100%;
		@include themify("background-color", "bg-alt");
		padding: 1rem;
		text-align: center;
		&_text {
			@include themify("color", "primary-main");
		}
	}
	&__description {
		padding: 1rem;
		margin: 1rem auto;
		border-radius: 1.5rem;
		@include themify("background-color", "bg-alt");
	}
}
